{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "importOrder": [
    "^node:",
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^[./].*(?<!.css)$",
    "^[./]"
  ],
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}