html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 100px;
  background: #f6f6f6;
  color: #000811;
}

h1,
h2 {
  margin: 0;
  font-family: serif;
}

h1,
h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}

code {
  background: lightgrey;
  padding: 0 1px;
  border-radius: 3px;
}

img {
  width: 100%;
  user-select: none;
}

figure {
  margin: 0 0 20px 0;
}

figure figcaption {
  text-align: center;
  font-style: italic;
}

.breadcrumbs {
  font-size: 0.8rem;
  user-select: none;
}
.breadcrumbs ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 0;
}
.breadcrumbs ul li {
  list-style: none;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: bold;
}
.breadcrumbs ul li::before {
  content: "/";
  margin: 0 5px;
}
.breadcrumbs ul li:first-child::before {
  content: none;
}

em > a {
  font-weight: normal;
}

.gallery {
  margin: 20px 0;
}
.gallery ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery ul li {
  width: calc(100% / 3 - 10px);
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
}
.gallery a {
  display: block;
  padding: 2px;
  border: 1px solid #c0c0c0;
  box-sizing: border-box;
}
.gallery span {
  text-align: center;
  display: block;
  font-weight: normal;
}
.gallery img {
  width: 100%;
}
