:root {
  --bistre: hsl(27, 56%, 15%); /* #382210 */
  --smoky-black: hsl(16, 58%, 4%); /* #0f0704 */
  --walnut-brown: hsl(42, 12%, 37%); /* #6b6454 */
  --kobicha: hsl(27, 48%, 26%); /* #613e22 */
  --cornsilk: hsl(44, 88%, 90%); /* #fcf0cf */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: sans-serif;
  color: var(--cornsilk);
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
}

header {
  background: url("/arx-bg-pattern.webp") repeat-x center center var(--kobicha);
  background-size: cover;
  padding: 10px 30px;
  border-bottom: 1px solid var(--cornsilk);
}

header img {
  float: right;
  width: auto;
  height: 48px;
  margin-top: 29px;
}

@media (max-width: 725px) {
  header img {
    display: none;
  }
}

main {
  flex: 1;
  background: url("/arx-bg-image.webp") no-repeat center center var(--walnut-brown);
  background-size: cover;
}
main > div {
  width: min(800px, 100%);
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

footer {
  background: url("/arx-bg-pattern.webp") repeat-x center center var(--kobicha);
  background-size: cover;
  padding: 10px 30px;
  border-top: 1px solid var(--cornsilk);
  font-size: 0.8rem;
  text-align: center;
}

h1,
h2 {
  margin: 0;
  font-family: serif;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  margin-top: 30px;
  margin-bottom: 20px;
}

h3 {
  margin-top: 50px;
  margin-bottom: 0;
}

h3 + .mods {
  margin-top: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--smoky-black);
}
a:hover {
  text-decoration: underline;
}

code {
  background: lightgrey;
  padding: 0 1px;
  border-radius: 3px;
}

img {
  width: 100%;
  user-select: none;
}

figure {
  margin: 0 0 20px 0;
}

figure figcaption {
  text-align: center;
  font-style: italic;
}

.breadcrumbs {
  font-size: 0.8rem;
  user-select: none;
}
.breadcrumbs ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 0;
}
.breadcrumbs ul li {
  list-style: none;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: bold;
}
.breadcrumbs ul li::before {
  content: "/";
  margin: 0 5px;
}
.breadcrumbs ul li:first-child::before {
  content: none;
}

main > div > ul {
  padding: 0;
  margin: 60px 0 40px 0;
}
main > div > ul li {
  margin-bottom: 40px;
  list-style: none;
}
main > div > ul li span {
  margin-top: 5px;
  display: block;
}

main p {
  margin-top: -10px;
}

em > a {
  font-weight: normal;
}

.gallery {
  margin: 60px 0 40px 0;
}

h3 + .gallery {
  margin-top: 20px;
}

.gallery ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery ul li {
  width: calc(100% / 3 - 10px);
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
}
.gallery a {
  display: block;
  padding: 2px;
  background: var(--cornsilk);
  box-sizing: border-box;
  border-radius: 2px;
}
.gallery a:hover {
  background: var(--kobicha);
  color: var(--cornsilk);
  text-decoration: none;
}
.gallery span {
  text-align: center;
  display: block;
  font-weight: normal;
}
.gallery img {
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  font-size: 12px;
}

abbr {
  cursor: help;
}

.mods li[data-type]::before {
  content: attr(data-type);
  display: inline-block;
  background: var(--bistre);
  font-size: 0.75rem;
  padding: 0 4px;
  border-radius: 3px;
  line-height: 20px;
  vertical-align: top;
}

.mods li[data-type="vanilla fix"]::before {
  background: hsl(270, 56%, 30%); // purple
}

.mods li[data-type="challenge"]::before {
  background: hsl(25, 56%, 30%); // orange
}

.mods li[data-type="meme"]::before {
  background: hsl(200, 56%, 30%); // turquoise
}

.mods li[data-type="other"]::before {
  background: hsl(95, 56%, 30%); // green
}

.mods li[data-before-al13-support] a::after {
  display: inline-block;
  background: var(--bistre);
  color: var(--cornsilk);
  font-size: 0.75rem;
  padding: 0 4px;
  border-radius: 3px;
  line-height: 20px;
  vertical-align: top;
  margin-left: 5px;
  font-weight: normal;
}

.mods li[data-before-al13-support="partial"] a::after {
  content: "Arx Libertatis 1.3+ recommended";
}

.mods li[data-before-al13-support="no"] a::after {
  content: "Arx Libertatis 1.3+ required";
}
