header {
  background: url('/arx-bg-pattern.webp') repeat-x center center var(--kobicha);
  background-size: cover;
  padding: 10px 30px;
  border-bottom: 1px solid var(--cornsilk);
}

header img {
  float: right;
  width: auto;
  height: 48px;
  margin-top: 29px;
}

@media (max-width: 725px) {
  header img {
    display: none;
  }
}
